@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.header-undertitle {
  margin-top: 30px;
  text-align: center;
}
