.container{
    height: 200px;
    width: 100%;
    background: #313131;
}

.container .social{
    border-bottom: 1px solid #4A4A4A;
    text-align: center;
}

.container .social .ulFooter{
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.container .social .ulFooter li{
    list-style: none;
    float: none;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 15px;
}

.container .social .ulFooter li a{
    text-decoration: none;
    color: #999;
}

.container .copyright * {
    font-size: 14px;
    color: #999;
    line-height: 1.4;
    font-style: italic;
    text-align: center;
}

